        </div><!-- /.container -->
        <footer class="footer">
            <div class="container">
                <p class="text-muted">&copy; Rhapsody 2019 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">Add Music</a></p>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            $(function () {
                $(document).scroll(function(){
                    var $nav = $("#mainNavbar");
                    $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
                });
            });
        </script>
    </body>
</html>