<!DOCTYPE html>
<html>
    <head>
        <title>Rhapsody</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>
    
    <div id="landing-header">
 		<h1>Welcome to Rhapsody!</h1>
        <a href="/campgrounds" class="btn btn-lg btn-outline-dark">View All Artists</a>
        <p>
           <form action="/campgrounds" method="GET" class="form-inline">
               <div class="form-group landing" id="form-style">
                   <input id="search" type="text" name="search" placeholder="Music search..." class="form-control">
                   <input type="submit" value="Search" class="btn btn-outline-info">
               </div>
           </form>
       </p>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include partials/footer %>